.flower-1{
    position: absolute;
    transform: translate(30px ,-135px) rotate(0deg);
    z-index: 1;
  }
  .flower-2{
    position: absolute;
    transform:translate(108px , -123px) rotate(20deg);
  }
  .flower-6{
    position: absolute;
    transform: translate(-47px , -123px) rotate(-20deg);
  }
  
  .flower-9{
    position: absolute;
    transform: translate(120px , -126px) rotate(18deg);
  }
  
  .flower-8{
    position: absolute;
    transform:translate(176px , -111px) rotate(28deg);
  }
  
  .flower-10{
    position: absolute;
    transform:translate(-88px , -121px) rotate(-22deg);
  }
  
  .bordeSuperior{
    position: absolute;
    width: 240px;
    height: 50px;
    background-color: brown;
    transform: translate(-59px , 67px);
    z-index: 2;
    border-radius: 20px;
    box-shadow: -5px -5px 2px rgba(0, 0, 0, 0.051);
  }
  .bordeInferior{
    position: absolute;
    width: 199px;
    height: 130px;
    background-color:brown;
    transform: translate(-39px , 73px);
    border-radius: 0px 0px 20px 20px;
  }
  
  .flowerFinal{
    position: relative;
    transform: translate(120px ,0px);
  }